.page-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.favorite-cards {
    border: solid black .5rem;
}

img {
    max-width: 100%;
}

.searched-cards {
    border: solid black .5rem;
}
