.page-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.background {
    background-color: black;
}

#search-bar {
    width: 40rem;
}

img {
    max-width: 100%;
}
/* everything below is focused on cards */
.favorite-cards {
    width: calc(20% - 10px);
    flex: 0 0 calc(20% - 10px);
    margin-bottom: 5rem;
}

.searched-cards {
    width: calc(20% - 10px);
    flex: 0 0 calc(20% - 10px);
    margin-bottom: 5rem;
}

.backSide h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.backSide p {
    margin-bottom: 0;
    font-weight: normal;
}

.backSide-text-color {
    color: #a89d9d;
}

.overview {
    max-height: 190px;
    max-width: 215px;
    overflow: hidden;
}

.add-to-favorites {
    position: absolute;
    top: -14px;
    right: -17px;
    width: 35px;
    aspect-ratio: 1/1;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 0.4em;
    background: black;
    color: white;
    text-decoration: none;
}

.remove-from-favorites {
    position: absolute;
    top: -10px;
    right: -17px;
    width: 35px;
    aspect-ratio: 1/1;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 0.4em;
    background: black;
    color: white;
    text-decoration: none;
}

#rate-btn{
    width: 35px;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
    padding: 0.4em;
    background-color: #A62A2B;
    color: white;
    text-decoration: none;
}
#rate-btn :hover {
    color: black;
}

.tooltip-inner {
    width: 150%;
}

/*start of card effect for movies*/
.myCard {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.myCard:hover .innerCard {
    transform: rotateY(180deg);
}

.frontSide,
.backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    /*height: 100%;*/
    height: 17.8rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}


.frontSide,
.frontSide::before {
    background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}

.backSide,
.backSide::before {
    background-image: linear-gradient(160deg, #6E2121 0%, #A62A2B 100%);
}

.backSide {
    transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0.3;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}
/*end of card effect for movies*/
