.page-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.favorite-cards {
    border: solid black .5rem;
    width: calc(20% - 10px);
    flex: 0 0 calc(20% - 10px);
}

img {
    max-width: 100%;
}

.searched-cards {
    border: solid black .5rem;
    width: calc(20% - 10px);
    flex: 0 0 calc(20% - 10px);
}

.overview {
    max-height: 190px;
    max-width: 215px;
    overflow: hidden;
}
